$bgcolor-white: #ffff;
$bgcolor-yellow: #E9D758;
$bgcolor-red: rgb(229, 103, 104);
$bgcolor-salmon: #DA5F60E6;
$bgcolor-lightblack: #454545;
$bgcolor-grey: #3D404F;
$bgcolor-black: #0000;
$bgcolor-lastblack: rgb(51, 51, 51);
$textcolor-green: rgb(121, 181, 48);